name: Swift

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Import Code-Signing Certificates
      uses: Apple-Actions/import-codesign-certs@v1
      with: 
        p12-file-base64: ${{ secrets.CERTIFICATES_P12 }}
        p12-password: ${{ secrets.CERTIFICATES_P12_PASSWORD }}

    - name: Build
      run: xcodebuild
    - name: Upload Binary
      uses: actions/upload-artifact@v1
      with:
        name: barback
          path: /Users/runner/runners/2.168.0/work/barback/barback/build/Release/barback
